.bestiary {
    margin: 2rem;
    width: 75%;
}

a {
    color: rgb(0, 148, 0);
    display: block;
    text-align: center;
}

@media only screen and (max-width: 1275px) {
    .bestiary {
        width: 100%;
        margin-left: 0;
        padding: 1rem;
    }
}